.quiz-container{
    border-radius: 20px;
    background-color: #ffffff21;
    padding: 10px;
    margin: 50px 15px;
}
.question-meta-data{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
}
.question-meta-data * {
    border-radius: 10px;
    transition: 0.2s;
    margin: 5px;
    padding: 10px;
}
.question-meta-data *:hover {
    background-color: rgba(255, 255, 255, 0.263);
}
.question-hr{
    width: 95%;
    border-color: rgb(255, 255, 255);
}
.question-data{
    background-color: rgba(255, 255, 255, 0.263);
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    font-size: 18px;
   text-align: center; 
}
.options-container{
    display: flex;
    padding: 5px;
    justify-content: center;   
    align-items: center;
    margin: 20px;

}

.option{
    width: 100px;
    text-align: center;
    font-weight: 800px;
    padding: 10px;
    cursor: pointer;
    margin: 8px;
    border-radius: 10px;
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.263);
}
.green{
    color: black;
    background-color: greenyellow;
}
.red{
    color: rgb(202, 202, 202);
    background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 650px) {
    .quiz-container{
        margin: 15px;
    }
    .options-container{
        flex-direction: column;
    }   
    .option{
        width: 80%;
    }
    .question-data{
        margin: 20px 5px;
        font-size: 16px;
    }
}