.quiz-container{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.052);
    padding: 10px;
    margin: 50px;
}
.question-meta-data{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
}
.question-meta-data * {
    border-radius: 10px;
    transition: 0.2s;
    margin: 5px;
    padding: 10px;
}
.question-meta-data *:hover {
    background-color: rgba(128, 128, 128, 0.263);
}
.question-hr{
    width: 95%;
    border-color: grey;
}
.question{
    margin: 40px;
    font-size: 18px;
   text-align: center; 
}
.options-container{
    display: flex;
    padding: 5px;
    justify-content: center;   
    align-items: center;
    margin: 20px;

}
.option{
    width: 80px;
    text-align: center;
    font-weight: 800px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    transition: 0.2s;
    background-color: rgba(128, 128, 128, 0.263);
}
.green{
    color: black;
    background-color: greenyellow;
}
.red{
    color: rgb(202, 202, 202);
    background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 900px) {
    .options-container{
        flex-direction: column;
    }   
}