nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: transparent;
    color: white;
}
.nav-icons i{
    margin: 5px;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}
.nav-icons i:hover{
    background-color: rgba(255, 255, 255, 0.147);
}

nav .logo{
    width: 150px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 10px; 
    
}

.widget-container{
    border-radius: 10px;
    position: absolute;
    right: 20%;
    top: 80px;
    color: gray;
    background-color: rgba(255, 255, 255, 0.873);
}
.active{
    background-color: rgba(255, 255, 255, 0.147);
}

@media (max-width: 650px) {
    nav {
        justify-content: space-between;
    }
    nav .logo{
        margin-left: 20px;
        font-size: 1.5rem;
        letter-spacing: 7px;
    }
    .nav-icons i{
        padding: 5px;
    }    
    .widget-container{
        position: absolute;
        right: 5px;
        top: 80px;

    }
}